@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-17 18:52:21
 * @version $Id$
 */

    main{
        text-align: right;
    }

        #name,#password{
            width: 400px;
            height: 50px;
            border-radius: 8px;
            margin: 30px;
            color: #000;
            font-size: 20px;
            border: 2px solid #ccc;
        }
        form{
            position: absolute;
            top: 100px;
            line-height: 10px;
            right: 200px;
        }
        main span{
            font-family: SimHei;
            font-size: 30px;
        }

        main p{
            font-size: 20px;
            font-weight: bolder;
            text-align: center;
            color: #aaa;
            line-height: 30px;
        }
        .btn{
            width: 100px;
            height: 50px;
            background-color: #0275d8;
            border: 1px solid #0275d8 ;
            border-radius: 8px;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
        }

